:root {
    color-scheme: light dark;
}

body.light{
    background-color: var(--neutral-200);;
    color: var(--color-neutral-900)
}

body.dark {
    background-color: var(--color-neutral-900);
    color: var(--neutral-200);
}

body.dark textarea#input-typing-text {
    background-color: var(--background-input-neutral-700);
    color: var(--neutral-200);
}

body.light textarea#input-typing-text {
    background-color: var(--neutral-100);
    color: var(--color-neutral-900);
}

body.dark textarea::placeholder{
    color: var(--neutral-200);
}

body.light textarea::placeholder{
    color: var(--color-neutral-900);
}

body.dark input[type="checkbox"], .input-limit{
    border: 1px solid var(--neutral-200);
}

body.light input[type="checkbox"], .input-limit{
    border: 1px solid var(--color-neutral-900);
}
